body{
    background-color: #d3d0c8;
    font-family: Arial ;
}

.cover{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #383434;
    color: white;
    align-items: center;
    padding: 30px;
}


.content{
    display: flex;
    width: 80%;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}
.in1{

    width: 15px;
    margin-right: 5px;
    

}
.in2{
    margin-right: 5px;
}
.in3{
    margin-right: 5px;
}
.btn1{
    height: 20px;
    width: 100px;
    margin-right: 5px;
}
.btn2{

}
.rd1{





}




.rd2{

}
.add{
    margin-top: 10px;
    display: flex;
    margin-right: 50px;
    padding-right: 5px;

}

.n_name{
    margin-left: 11px;
}

.n_mail{
    margin-left: 5px;
}
.add_btn{
    margin-left: 5px;
}
.text{
    font-size: 8px;
    justify-content: center;
    margin-top: 5px;
}
