 <form action="" id="enter_form">

    <button class="registration2" id="reg_link">Регистрация</button>

    <div class="container">
        <input class="login" placeholder="Введите логин" id="name" name="name">
        <aside class="foolproof" id="log_name"  type="name"></aside>
    </div>

    <div class="container">
        <input class="login" placeholder="Введите пароль" id="password" name="password" type="password">
        <aside class="foolproof" id="log_password" type="password"></aside>
    </div>
    
    <button class="enter" id="enter">Вход</button>

</form>