<div class="profile" id="profile">
    <div class="user_content">
        <div class="avatar">
            <img src="../static/papizi.jpg" height="100%" width="100%" style="border-radius: 10px; box-shadow: 0 0 10px #444;">
        </div>
        <div class="user_info">
            <div class="user_raw">
                <r>Величайший</r>
            </div>
            <div class="user_raw">
                arthas@uni-dubna.ru
            </div>
            <div class="user_raw">
                НЫА ТВАРЫНА
            </div>
        </div>
    </div>
    <div class="status">
        Погоняло твое сисич
    </div>
</div>
<script src='main_js.js'></script>