
    <div class="wrapper" id="reg_wind">
        <div class="header">
            <h3 class="sign-in">Регистрация</h3>
            <div class="button" id="enter_link" >
                Уже есть профиль
            </div>
        </div>
        <div class="clear"></div>
        <form action="#" id="register">
            <!--ввод имени-->
            <div>
                <input class="user-input" type="text" name="name" id="name" placeholder="Ваше имя" />
            </div>
            <!--ввод почты-->
            <div>
                <input class="email-input" type="text" name="email" id="email" placeholder="e-mail" />
            </div>
            <!--ввод пароля-->
            <div>
                <input type="password" name="password" id="password" placeholder="Пароль" />
            </div>
            <div>
                <input id="reg" type="submit" value="Зарегестрироваться" />
            </div>


        </form>
    </div>
    <script src='../js/enter_js.js'></script>

