
<form action="" id="registration_form">

    <button class="registration" id="enter_link">Уже есть аккаунт?</button>

    <div class="container">
        <input class="login" placeholder="Введите вашу почту" id="email" name="email">
        <aside class="foolproof" id="error_mail" type="email" ></aside>
    </div>
    
    <div class="container">
        <input class="login" placeholder="Введите ваш логин" id="name" name="name">
        <aside class="foolproof" id="error_name" type="name" ></aside>
    </div>
   
    <div class="container">
        <input class="login" placeholder="Введите ваш пароль" id="password" name="password" type="password">
        <aside class="foolproof" id="error_password" type="password" ></aside>
    </div>
    
    <button class="enter" id="reg" type="button">Регистрация</button>
    

        
</form>
<script src='../js/reg.js'></script>
