
<form action="" id="registration_form">
    <div>

        <button class="registration" id="enter_link">Уже есть аккаунт?</button>
        <input class="login" placeholder="Введите вашу почту" id="email" name="email">
        <aside class="foolproof_mail" id="error_mail" type="email" aurofocus placeholder=""></aside>

        <input class="login" placeholder="Введите ваш логин" id="name" name="name">
        <aside class="foolproof_name" id="error_name" type="email" aurofocus placeholder=""></aside>

        <input class="login" placeholder="Введите ваш пароль" id="password" name="password">
        <aside class="foolproof_password" id="error_password" type="email" aurofocus placeholder=""></aside>

        <button class="enter" id="reg" type="button">Регистрация</button>


    </div>
    
</form>
<script src='../js/reg.js'></script>
